.welcome {
    color: blue;
}

.card-img-top{
    width:100%;
    height:auto;
}
.linkedin {
    height: 2em;
    width: 2em;

}


.glitch {
    font-size:10vw;
    font-weight: 700;
    text-transform: uppercase;

    text-shadow: 0.05em 0 0 rgba(255,0, 0,.75),
                 -0.025em -0.05em 0 rgba(0, 255, 0,.75),
                 0.025em 0.05em 0 rgba(0, 0, 255,.75);

    animation: glitch 2000ms infinite;

 }

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 rgba(255,0, 0,.75),
        -0.05em -0.025em 0 rgba(0, 255, 0,.75),
        -0.025em 0.05em 0 rgba(0, 0, 255,.75);
    }
    15% {
        text-shadow: -0.05em 0 0 rgba(255,0, 0,.75),
        0.025em -0.025em 0 rgba(0, 255, 0,.75),
        -0.05em -0.05em 0 rgba(0, 0, 255,.75);
    }
    50% {
        text-shadow: 0.025em 0 0 rgba(255,0, 0,.75),
        0.05em 0 0 rgba(0, 255, 0,.75),
        0 -0.05em 0 rgba(0, 0, 255,.75);
    }
    100% {
        text-shadow: -0.025em 0 0 rgba(255,0, 0,.75),
        -0.025em -0.025em 0 rgba(0, 255, 0,.75),
        -0.025em -0.05em 0 rgba(0, 0, 255,.75);
    }

}


.Git {
    width: 50%;
    height: auto;
}

.docker {
    width: 25%;
    height: auto;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



<style type="text/css">
                      .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#191717;}
.st1{fill:#191717;}
</style>


                      .st0{fill:#413000;}
.st1{fill:#F05133;}

