
.welcome {
    color: blue;
    background: url(images/web-dev.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



#js path:nth-child(1) {
    stroke-dasharray: 150px;
}

/*.centered {*/
/*    position: fixed;*/
/*}*/

.card-img-top{
    width:100%;
    height:auto;
}
.linkedin {
    height: 2em;
    width: 2em;

}


.glitch {
    font-size:10vw;
    font-weight: 700;
    text-transform: uppercase;

    text-shadow: 0.05em 0 0 rgba(255,0, 0,.75),
                 -0.025em -0.05em 0 rgba(0, 255, 0,.75),
                 0.025em 0.05em 0 rgba(0, 0, 255,.75);

    animation: glitch 2000ms infinite;
 }

.hi {
    font-size: 3vw;
}

#flashingWelcome {
    padding-top: 1rem;
    padding-bottom: 50rem;
}

@keyframes glitch {
    0% {
        text-shadow: 0.05em 0 0 rgba(255,0, 0,.75),
        -0.05em -0.025em 0 rgba(0, 255, 0,.75),
        -0.025em 0.05em 0 rgba(0, 0, 255,.75);
    }
    15% {
        text-shadow: -0.05em 0 0 rgba(255,0, 0,.75),
        0.025em -0.025em 0 rgba(0, 255, 0,.75),
        -0.05em -0.05em 0 rgba(0, 0, 255,.75);
    }
    50% {
        text-shadow: 0.025em 0 0 rgba(255,0, 0,.75),
        0.05em 0 0 rgba(0, 255, 0,.75),
        0 -0.05em 0 rgba(0, 0, 255,.75);
    }
    100% {
        text-shadow: -0.025em 0 0 rgba(255,0, 0,.75),
        -0.025em -0.025em 0 rgba(0, 255, 0,.75),
        -0.025em -0.05em 0 rgba(0, 0, 255,.75);
    }

}


.Git {
    width: 50%;
    height: auto;
}

.docker {
    width: 25%;
    height: auto;
}

/* Centered text */
/*.centered {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*}*/



.st0a {
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#191717;
}


.st1a {
    fill:#191717;
}


.st0 {
    fill:#413000;
}

.st1 {
    fill:#F05133;
}


.st0b {
    fill:#679E63;
}


.st1b {
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#FFFFFF;
}


.st2b {
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#679E63;
}


.st3b {
    clip-path:url(#XMLID_00000092420711355112990850000004651626123655462293_);
}


.st4b {
    fill:none;
}


.st5b {
    fill:url(#SVGID_1_);
}

.st6b {
    fill:url(#SVGID_00000092416707218481687640000015302704412589466250_);
}


.st7b {
    fill:url(#SVGID_00000054944196849364988840000007307988455423109557_);
}


.st8b {
    fill:url(#SVGID_00000026848326367276069910000014804657593886582946_);
}


.st9b {
    fill:url(#SVGID_00000065769529312757969730000013572381888694139057_);
}


.st10b {
    fill:url(#SVGID_00000172431748761324216780000005048762642047175070_);
}

.stp1{
    fill:#3F873F;
}

.stp2 {
    fill:#3F8B3D;
}

.stp3 {
    fill:#3E9638;
}

.stp4 {
    fill:#3DA92E;
}


.stp5 {
    fill:#3DAE2B;
}




.st0c {
    fill:#00678F;
}


.st1c {
    fill:#E48D1A;
}


.st2c {
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#00678F;
}


.st3c {
    fill-rule:evenodd;
    clip-rule:evenodd;
    fill:#E48D1A;
}


.st4c {
    fill:#999B9E;
}


.st5c {
    font-family:'HelveticaNeue-MediumExt';
}


.st6c {
    font-size:29.384px;
}

.st1d {
    fill:#2496EC;
}


.st2d {
    fill:#2696EC;
}


